button{
    float: left;
    padding: 5px 20px;
    background: rgb(222, 24, 24);
    color: white;
    margin-inline: 10px;
    border: 2px;
    border-radius: 8px;

}
body{
    background-image:url("65.webp") ;
}
h1{
    color:#5f458c;
}
input{
    background: #bfb9c9;
    padding: 5px;
    border-radius: 10px;
}
h2{
 color:#3213bd;
}